{% extends "layout.html" %}

{% block title %}
    Vertretungsplan
{% endblock %}

{% block main %}
<div class="section">
    <h1>Dein Vertretungsplan</h1>
    <table>
        <thead>
            <tr>
                <th>Tag/Stunde</th>
                <th>Klasse</th>
                <th>Fach</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data[1] %}
                <tr>
                    <td>{{ d["zeit"] }}</td>
                    <td>{{ d["klassenID"] }}</td>
                    <td>{{ d["fach"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}